<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ferienwohnung Wimberger - Farchant">
    <meta name="author" content="Christoph Wimberger">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Anfragen und Reservierungen - Ferienwohnung Wimberger - Farchant</title>

    <!-- Bootstrap core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../css/base.css" rel="stylesheet">

    <!-- Styles for the daterange picker -->
    <link rel="stylesheet" type="text/css" media="all" href="../../css/daterangepicker-bs3.css" />

    <!-- AngularJS -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>

    <script>
    var formApp = angular.module('formApp', []);

    function formController($scope, $http) {

        $scope.userForm = {};
        $scope.user = {};

        $scope.salutations = [{
            code: 'Herr',
            name: 'Herr'
        }, {
            code: 'Frau',
            name: 'Frau'
        }];

        $scope.dynamicList = [{
            "adults": "0",
            "children": [{
                "child": "0"
            }, {
                "child": "1"
            }, {
                "child": "2"
            }]
        }, {
            "adults": "1",
            "children": [{
                "child": "0"
            }, {
                "child": "1"
            }, {
                "child": "2"
            }]
        }, {
            "adults": "2",
            "children": [{
                "child": "0"
            }, {
                "child": "1"
            }, {
                "child": "2"
            }]
        }, {
            "adults": "3",
            "children": [{
                "child": "0"
            }, {
                "child": "1"
            }]
        }, {
            "adults": "4",
            "children": [{
                "child": "0"
            }]
        }];

        $scope.adultsChanged = function() {
            $scope.user.adults = $scope.selectedAdults.adults;
        }

        $scope.childrenChanged = function() {
            $scope.user.children = $scope.selectedChildren.child;
        }

        $scope.birthdayPattern = /^(((0[1-9]|[12]\d|3[01])\.(0[13578]|1[02])\.((19|[2-9]\d)\d{2}))|((0[1-9]|[12]\d|30)\.(0[13456789]|1[012])\.((19|[2-9]\d)\d{2}))|((0[1-9]|1\d|2[0-8])\.02\.((19|[2-9]\d)\d{2}))|(29\.02\.((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))))$/;

        $scope.reservationPattern = /^((((0[1-9]|[12]\d|3[01])\.(0[13578]|1[02])\.((19|[2-9]\d)\d{2}))|((0[1-9]|[12]\d|30)\.(0[13456789]|1[012])\.((19|[2-9]\d)\d{2}))|((0[1-9]|1\d|2[0-8])\.02\.((19|[2-9]\d)\d{2}))|(29\.02\.((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))))\s\-\s(((0[1-9]|[12]\d|3[01])\.(0[13578]|1[02])\.((19|[2-9]\d)\d{2}))|((0[1-9]|[12]\d|30)\.(0[13456789]|1[012])\.((19|[2-9]\d)\d{2}))|((0[1-9]|1\d|2[0-8])\.02\.((19|[2-9]\d)\d{2}))|(29\.02\.((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00)))))$/;

        // process the form
        $scope.processForm = function() {
            $http({
              method  : 'POST',
              url     : 'contact.php',
              data    : $.param($scope.user),  // pass in data as strings
              headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  // set the headers so angular passing info as form data (not request payload)
          })
                .success(function(data) {
                    console.log(data);

                    if (!data.success) {
                        // if not successful, bind errors to error variables
                        $scope.phpErrors = data.errors;
                    } else {
                        // if successful, bind success message to message
                        $scope.message = data.message;
                        // Hide the status message which was set above after 3 seconds.
                        $timeout(function() {
                          $scope.message = null;
                        }, 3000);
                    }
                });

        };

    }
    </script>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="formApp" ng-controller="formController">
    <!-- Navbar -->
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-custom navbar-fixed-top center-block" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="../../" class="navbar-brand">Ferienwohnung Wimberger</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="../about/">Über uns</a></li>
                <li><a href="../appartment">Ferienwohnung</a>
                </li>
                <li><a href="../price/">Preise</a></li>
                <li><a href="../contact/">Kontakt</a></li>
                <li class="dropdown">
                  <a href="../impressions" class="dropdown-toggle" data-toggle="dropdown">Impressionen <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="../impressions/">Sommer</a></li>
                    <li><a href="../impressions/index.html#winter">Winter</a></li>
                    <li><a href="../impressions/index.html#links">Links</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="../reservations/">Anfrage</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container marketing bottom-space">

        <div class="container">
            <div class="col-lg-12">
                <h1 class="ts-container bottom-space">Anfragen
                    <span class="text-muted">und Reservierungen</span>
                </h1>

                <!-- SHOW ERROR/SUCCESS MESSAGES -->
                <div id="messages" class="alert alert-success" ng-show="message">{{ message }}</div>
                <!-- =================================================================== -->
                <!-- FORM ============================================================== -->
                <!-- =================================================================== -->
                <!-- Anrede (r) -->
                <!-- Name (r) -->
                <!-- Vorname (r) -->
                <!-- Geburtsdatum (r) -->
                <!-- Telefonnummer -->
                <!-- Email (r) -->
                <!-- Datum (r) -->
                <!-- Erwachsene (r) -->
                <!-- Kinder (r) -->
                <!-- Textfeld -->


                <!-- pass in the variable if our form is valid or invalid -->
                <form name="userForm" ng-submit="processForm()" novalidate class="form-horizontal" ng-show="!message">

                    <!-- ANREDE -->
                    <div class="form-group" ng-class="{ 'has-error' : userForm.salutation.$invalid && !userForm.salutation.$pristine }">
                        <label class="col-sm-3 control-label">Anrede (*)</label>
                        <div class="col-sm-7">
                            <select name="salutation" class="form-control" ng-model="user.salutation" required>
                                <option value="">Wählen Sie Ihre Anrede</option>
                                <option ng-repeat="v in salutations" value="{{v.code}}">{{v.name}}</option>
                            </select>
                            <p ng-show="userForm.salutation.$invalid && !userForm.salutation.$pristine" class="help-block">Bitte wählen Sie Ihre Anrede aus.</p>
                        </div>

                    </div>

                    <!-- VORNAME -->
                    <div class="form-group" ng-class="{ 'has-error' : userForm.firstname.$invalid && !userForm.firstname.$pristine }">
                        <label class="col-sm-3 control-label">Vorname (*)</label>
                        <div class="col-sm-7">
                            <input type="text" name="firstname" class="form-control" ng-model="user.firstname" required>
                            <p ng-show="userForm.firstname.$invalid && !userForm.firstname.$pristine" class="help-block">Bitte geben Sie Ihren Vornamen ein.</p>
                        </div>

                    </div>

                    <!-- NAME -->
                    <div class="form-group" ng-class="{ 'has-error' : userForm.lastname.$invalid && !userForm.lastname.$pristine }">
                        <label class="col-sm-3 control-label">Name (*)</label>
                        <div class="col-sm-7">
                            <input type="text" name="lastname" class="form-control" ng-model="user.lastname" required>
                            <p ng-show="userForm.lastname.$invalid && !userForm.lastname.$pristine" class="help-block">Bitte geben Sie Ihren Nachnamen ein.</p>
                        </div>
                    </div>

                    <!-- GEBURTSDATUM -->
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Geburtstag (*)</label>
                            <div class="col-sm-7" ng-class="{ 'has-error' : userForm.birthday.$invalid && !userForm.birthday.$pristine }">
                                <div class="input-prepend input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    </span>
                                    <input type="text" name="birthday" id="birthday" class="form-control" value="Geburtstag auswählen" ng-model="user.birthday" ng-pattern="birthdayPattern" placeholder="Datum auswählen" required>
                                </div>
                                <p ng-show="userForm.birthday.$error.required && !userForm.birthday.$pristine" class="help-block">Bitte geben Sie Ihr Geburtsdatum ein.</p>
                                <p ng-show="userForm.birthday.$error.pattern && !userForm.birthday.$pristine" class="help-block">Bitte geben Sie ein gültiges Geburtsdatum im folgenden Format ein: DD.MM.YYYY</p>
                            </div>
                        </div>
                    </fieldset>

                    <!-- TELEFONNUMMER -->
                    <div class="form-group" ng-class="{ 'has-error' : userForm.phone.$invalid && !userForm.phone.$pristine }">
                        <label class="col-sm-3 control-label">Telefonnummer</label>
                        <div class="col-sm-7">
                            <input type="text" name="phone" class="form-control" ng-model="user.phone">
                            <!-- TODO: validator: no characters -->
                        </div>
                    </div>

                    <!-- EMAIL -->
                    <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                        <label class="col-sm-3 control-label">Email (*)</label>
                        <div class="col-sm-7">
                            <input type="email" name="email" class="form-control" ng-model="user.email" required>
                            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Bitte geben Sie Ihre Email Adresse ein.</p>
                        </div>
                    </div>

                    <!-- DATUM -->
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Gewünschter Zeitraum (*)</label>
                            <div class="col-sm-7" ng-class="{ 'has-error' : userForm.reservation.$invalid && !userForm.reservation.$pristine }">
                                <div class="controls">
                                    <div class="input-prepend input-group">
                                        <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                        </span>
                                        <input type="text" name="reservation" id="reservation" class="form-control" placeholder="Datum auswählen" ng-model="user.date" ng-pattern="reservationPattern" required>
                                    </div>
                                </div>
                                <p ng-show="userForm.reservation.$error.required && !userForm.reservation.$pristine" class="help-block">Bitte geben Sie ein Datum ein.</p>
                                <p ng-show="userForm.reservation.$error.pattern && !userForm.reservation.$pristine" class="help-block">Bitte benutzen Sie den Kalender um den Zeitraum auszuwählen und drücken anschließend auf Speichern.</p>
                            </div>
                        </div>
                    </fieldset>

                    <!-- ERWACHSENE -->
                    <div class="form-group" ng-class="{ 'has-error' : userForm.adults.$invalid && !userForm.adults.$pristine }">
                        <label class="col-sm-3 control-label">Anzahl Erwachsene (*)</label>
                        <div class="col-sm-7">
                            <select name="adults" class="form-control" ng-model="selectedAdults" ng-change="adultsChanged()" ng-options="a.adults for a in dynamicList" required>
                            </select>
                            <p ng-show="userForm.adults.$invalid && !userForm.adults.$pristine" class="help-block">Bitte wählen Sie aus, wie viele Erwachsene Sie sind.</p>
                        </div>
                    </div>

                    <!-- KINDER -->
                    <div class="form-group" ng-class="{ 'has-error' : userForm.children.$invalid && !userForm.children.$pristine }">
                        <label class="col-sm-3 control-label">Anzahl Kinder (*)</label>
                        <div class="col-sm-7">
                            <select name="children" class="form-control" ng-model="selectedChildren" ng-change="childrenChanged()" ng-options="c.child for c in selectedAdults.children" required>
                            </select>
                            <p ng-show="userForm.children.$invalid && !userForm.children.$pristine" class="help-block">Bitte wählen Sie aus, wie viele Kinder mitkommen.</p>
                        </div>
                    </div>

                    <!-- TEXTFELD -->
                    <div class="form-group" ng-class="{ 'has-error' : userForm.notes.$invalid && !userForm.notes.$pristine }">
                        <label class="col-sm-3 control-label">Sonstiges / Bemerkungen</label>
                        <div class="col-sm-7">
                            <textarea type="text" name="notes" class="form-control" ng-model="user.notes" rows="5" placeholder="Hier ist Platz für weitere Bemerkungen oder Fragen Ihrerseits." maxlength="1000"></textarea>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-7">
                            <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid || !userForm.adults.$dirty || !userForm.children.$dirty">Abschicken</button>
                            <span class="help-block" ng-show="userForm.$invalid || !userForm.adults.$dirty || !userForm.children.$dirty">Felder markiert mit (*) sind Pflichtfelder.</span>
                        </div>


                    </div>
                </form>
                <!-- <h2>Debug info:</h2>
                <pre>
                  {{ phpErrors }}
                  {{ user }}
                  selectedAdults: {{ selectedAdults }}
                  selectedChildren: {{ selectedChildren }}
                  {{ userForm }} 
                </pre>-->
            </div>
        </div>
        </div> <!-- /.container-->
        
        <!-- FOOTER -->
    <div class="footer-wrapper">
        <footer>
            <div class="container center-block nopadding_lr">
              <div class="pull-right"><a href="#">Zum Seitenanfang</a></div>
              <div class="pull-left">
                <div class="pull-left padding_r">
                  &copy; 2014 Ferienwohnung Wimberger
                </div>
                <div class="pull-left">
                  <a href="../impressum/">Impressum</a> — <a href="../price/index.html#agb">AGB</a> — <a href="../../sitemap/">Sitemap</a>
                </div>
              </div>
            </div>
        </footer>
    </div>

    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <!-- JS for daterange picker -->
    <script type="text/javascript" src="../../js/moment.min.js"></script>
    <script type="text/javascript" src="../../js/daterangepicker.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {

        var dr = function(start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
            $('#reservation').html(start.format('DD. MMMM YYYY') + ' - ' + end.format('DD. MMMM YYYY'));
            //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");
        }

        var optionSet1 = {
            startDate: moment().add('days', 2),
            endDate: moment().add('days', 7),
            minDate: moment().add('days', 2),
            maxDate: moment().add('months', 24),
            dateLimit: {
                days: 30
            },
            showDropdowns: true,
            showWeekNumbers: true,
            timePicker: false,
            timePickerIncrement: 1,
            timePicker12Hour: true,
            opens: 'left',
            buttonClasses: ['btn btn-default'],
            applyClass: 'btn-small btn-primary',
            cancelClass: 'btn-small',
            format: 'DD.MM.YYYY',
            separator: ' - ',
            locale: {
                applyLabel: 'Speichern',
                cancelLabel: '<span class="glyphicon glyphicon-trash"></span>',
                fromLabel: 'Von',
                toLabel: 'Bis',
                customRangeLabel: 'Benutzerdefiniert',
                daysOfWeek: ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'],
                monthNames: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
                firstDay: 1
            }
        };

        var bd = function(start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
            $('#reservation').html(start.format('DD. MMMM YYYY') + ' - ' + end.format('DD. MMMM YYYY'));
            //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");
        }

        var optionSet2 = {
            singleDatePicker: true,
            startDate: moment().subtract('month', 240),
            endDate: moment().subtract('month', 240),
            format: 'DD.MM.YYYY',
            locale: {
                applyLabel: 'Speichern',
                cancelLabel: '<span class="glyphicon glyphicon-trash"></span>',
                daysOfWeek: ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'],
                monthNames: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
                firstDay: 1
            }
        };

        $('#reservation').daterangepicker(optionSet1, dr);

        $('#birthday').daterangepicker(optionSet2, bd);

        

        $('#reservation').on('apply.daterangepicker', function(ev, picker) {
            var scope = angular.element($("body")).scope();
            scope.$apply(function() {
                scope.user.date = picker.startDate.format('DD.MM.YYYY') + " - " + picker.endDate.format('DD.MM.YYYY');
            });
        });

        $('#birthday').on('apply.daterangepicker', function(ev, picker) {
            var scope = angular.element($("body")).scope();
            scope.$apply(function() {
                scope.user.birthday = picker.startDate.format('DD.MM.YYYY');
            });
        });

    });
    </script>

    <script type="text/javascript">
      var navbarHeight = $('.navbar').height(); 

      $(window).scroll(function() {
        var navbarHeight = $('.navbar').height();      
        var ySmall = $(window).scrollTop(); 
        var shadowOpacity = (ySmall / navbarHeight) * 0.4;

        if ( ySmall > 1 && ySmall <= 38) {
          $('.navbar').css({"box-shadow": "0 2px 3px rgba(0,0,0," + shadowOpacity + ")"});
        } else if (ySmall > 1 && ySmall > 38 ) {
          $('.navbar').css({"box-shadow": "0 2px 3px rgba(0,0,0,0.3)"});
        } else {
          $('.navbar').css({"box-shadow": "none"});
        }
      });
    </script>

    <!-- Google Analytics -->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-51392166-1', 'ferienwohnung-wimberger.de');
    ga('send', 'pageview');
    </script>

</body>

</html>
